@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    color: #e5e7eb;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 16px);
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 4px;
  }
}

:root {
  --color-brand-orange: #ff4500;
}
